
<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <img src="../../assets/images/cat1-Photoroom.png-Photoroom.png" alt="Logo">
      </div>
      <ul class="nav-links">
        <li class="nav-item" *ngFor="let link of links">
          <a *ngIf="link.name !== 'Logout'" [routerLink]="link.url">{{ link.name }}</a>
          <a *ngIf="link.name === 'Logout'" (click)="confirmLogout()">{{ link.name }}</a>
            <audio #audioPlayer src="../../assets/sounds/rclick-13693.mp3"></audio>
        </li>
      </ul>
    </div>
  </nav>

  <div class="popup" [class.show]="showPopup">
    <div class="popup-content">
      <p>Are you sure you want to logout?</p>
      <button class="button-yes" (click)="logout()">Yes</button>
      <button (click)="cancelLogout()">No</button>
    </div>
  </div>
  