
<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <img src="../../assets/images/cat1-Photoroom.png-Photoroom.png" alt="Logo" routerLink="/app-home">
      </div>
      <ul class="nav-links">
        <li class="nav-item" *ngFor="let link of links">
            <a [routerLink]="link.url" (click)="goLogout()">{{ link.name }}</a>
            <audio #audioPlayer src="../../assets/sounds/rclick-13693.mp3"></audio>
        </li>
      </ul>
      
    </div>
  </nav>